@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
*{
  font-family: 'PT Sans', 'Rozha', sans-serif;
}
@font-face {
  font-family: 'PT sans';
  src:
    url('../fonts/PT_Sans_Web_Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PT Sans';
    src:
      url('../fonts/PT_Sans_Web_Bold.ttf') format('opentype');
      font-weight: bold;
      font-style: normal;
  }
@font-face {
  font-family: 'Rozha';
  src:
    url('../fonts/RozhaOne_Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: #f4c502;
  font-family: 'PT Sans', 'Rozha', sans-serif;  
  color: #9da5b4;
}
h1 {
  font-family: 'PT Sans', 'Rozha', sans-serif;
  line-height: 1.5 em;
  font-weight: 100;
  margin-bottom: 1em;
  text-align: center;
  color: #000000;
  text-transform: small-caps;
  letter-spacing: 0.3em;
  text-decoration: underline;
}
h2 {
  font-family: "PT Sans", 'Rozha', sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;
  color: #4a2786;
  text-transform: capitalize;
  letter-spacing: 0.4em;
}

.quotes {
  text-decoration: underline;
  text-indent: 1.5em;
  color: #000000;
  text-align: center;
  font-family: 'Rozha';
}
.intro {
  text-indent: 1.5em;
  text-align: center;
}
.johnquote {
  color: #000000;
}
form {
  text-align: center;
}
.authorlinks {
  text-align: center;
}
h3 {
  text-align: center;
}
.socialm {
  text-align: center;
}

header {
    background-color: #e9d9b7;
    font-family: 'Rohza', 'PT Sans', sans-serif;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}

.menu-container {
  background-color: #e9d9b7;
  margin: 0;
  padding: 0;
}
.menu-item {
  display: inline-block;
    margin: auto;
    width: 4em;
    text-align: center;
    padding: 0.5em 1em;
    color: #fbfbd9;
    background-color: goldenrod;
    padding: 0.5em 1em;
}

.menu-item:hover {
    background-color: gold;
    color: #333;
}

.display-inline {
    display: inline;
}

.menu-item a {
    color: #fbfbd9;
    text-decoration: none;
}

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    color: #000;
    background-color: #fbfbd9;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #6c49a8;
    background-color: #a2a2a2;
}

.site-name {
  float: left;
  padding-right: 1em;
  color: #1ccdca;
}
.lower-header {
  margin: 0;
  background-color: #f6e7b4;
  height: 110px;
}
.site-name {
  float: left;
  padding: 25px 10px;
  margin-left: 0.5em;
  font-size: 2.5em;
  color: #000;
}
.site-logo {
    font-size: 2.5em;
    float: right;
    padding: 15px 10px;
    margin-right: 0.25em;
}

.site-logo img {
    height: 80px;
}

main {
  background-color: #faeac8;
  flex: 1 3 auto;
  padding: 150px;
  line-height: 1.5em;
  color: #c11104;
  border-radius: 10px;
  border-style: double;
  border-color: #4a2786;
  border-width: thick;
}
.upclosed {
  text-align: center;
  color: #000000;
}
.aboutdavid {
  text-align: center;
}
.aboutdavid::first-letter {
  font-size: 20px;
  font-weight: bold;
}
blockquote::first-letter {
  font-size: 30px;
  font-weight: bold;
}
blockquote {
  color: #000000
  text-align: center;
  font-family: 'Rozha';
}
.movieposter {
  align: left;
}
.button1:hover {
  font-size: 4em;
  background-position: center center;
  background-size: cover;
  color: #c11104;
  text-transformation: uppercase;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.2em;
  padding: 0em;
  height: 50%;
}

.button1 {
  text-align: center;
}

.jdatecover {
  image-orientation: center;
}
.funfact {
  text-align: center;
  color: #4a2786;
  font-weight: bold;
}

aside.content-side {
  float: right;
  margin: 2em;
  margin-top: 2.5em;
  padding: 0;
  width: 15%;
  min-width: 200px;
  color: #fff;
  background-color: goldenrod;
  border: 3px dashed #c11104;
}
aside .aside-head {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  background-color: #c11104;
  text-transform: uppercase;
}
aside .aside-text {
  padding-top: 2em;
  padding-bottom: 2em;
}

aside .aside-text p {
    font-style: italic;
    padding: 0.25em 1em;
    margin: 0;
    font-size: 16px;
    color: #27435C;
    font-weight: 300;
    text-align: left;
}

aside .aside-text .rating {
  color: goldenrod;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 1em;
}

aside .aside-img img {
    display: block;
    border: 10px solid #fff;
    background-color: #27435C;;
    border-radius: 500px;
    padding: 10px;
    position: relative;
    margin: 0 auto 1.5em auto;
    width: 100px;
}
