@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
*{
  font-family: 'PT Sans', 'Rozha', sans-serif;
}
@font-face {
  font-family: 'PT sans';
  src:
    url('../fonts/PT_Sans_Web_Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PT Sans';
    src:
      url('../fonts/PT_Sans_Web_Bold.ttf') format('opentype');
      font-weight: bold;
      font-style: normal;
  }
@font-face {
  font-family: 'Rozha';
  src:
    url('../fonts/RozhaOne_Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #21252b;
  font-family: 'PT Sans', 'Rozha', sans-serif;
  color: #9da5b4;
}


img {
  border: 1px solid #c66d3b;
  border-radius: 4px;
  padding: 5px;
  width: 47%;
}

h1 {
  color: #73c990;
}

h2 {
  color: #73c990;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #282c34;
  border: 2px solid #d44a3e;
}


table, th, td {
  border: 1px solid #c66d3b;
  border-collapse: collapse;
}
table, th, td {
  padding: 15px;
}
th {
  background-color: #282c34;
}

@media screen and (max-width: 700px) {
  .palette {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  /* I really cant figure out how to get this dang image to center align */

  .wireframe {
    display: none;
  }

}
